extends layout
block name
    -var title='About'
block style
    link(rel="stylesheet" href="/css/about.css")

block page
    -var selected = 'About'

block content
    div(class="jumbotron" style="margin:150px 250px 50px; padding:20px 40px 30px;")
        h2.lead Who Are We?
        hr
        p.long
            C The National Sobering Collaborative is a group with diverse backgrounds committed to addressing the needs of the intoxicated citizen who is frequently homeless and utilizes public services. We are a coalition of mental health providers, homeless services experts, social workers, nurses and physicians who recognize the suffering of this population and the impact that it has public infrastructure.
            C We are also a forum for communication on this topic and are a coalition of sobering centers from around the country that provide care to this population.
    div(class="jumbotron"  style="margin:20px 250px 50px; padding:20px 40px 30px;")
        h2.lead What We Do?
        hr
        p.long
            C The intoxicated citizen, who is frequently homeless, is being cared for by a wide range of different services across the country. These are often jails, emergency departments, homeless shelters and sobering centers. We recognize the great cost to cities, the health care system and homeless services in providing care under this current model. We also recognize the frequently recidivist cycle that this system encourages and the suffering of those using these services.
        //div.row#whatWeDo
            div.col-sm-4
                p.left The intoxicated citizen, who is frequently homeless, is being cared for by a wide range of different services across the country. These are often jails, emergency departments, homeless shelters and sobering centers. We recognize the great cost to cities, the health care system and homeless services in providing care under this current model. We also recognize the frequently recidivist cycle that this system encourages and the suffering of those using these services.
            div.col-sm-4
                p.middle We are committed to finding alternatives to the current models of caring for these citizens. We feel that a comprehensive model will be compassionate and cost effective at the same time. Given the diversity of this population and of the economic makeup in cities across the country, we know that a one size fits all model will not work. However, a focused economic and compassionate system is a universal ethos.
            div.col-sm-4
                p.right To achieve these goals we have three overlapping fronts: Advocacy, Research and Policy. Central to these efforts is communication and collaboration from the many local, grassroots organizations and people who are addressing this problem on a daily basis in cities across the country.

    div(class="jumbotron"  style="margin:20px 250px 200px; padding:20px 40px 30px;")
        h2.lead Get Involved
        hr
        p.long
            C The best way to get involved is to post on our forum.  Who are you, how are you involved? Where are you and what population are you involved with? If you are involved with a program that provides these services, how are you funded, what do you see as obstacles to providing better care?  We want to create a national dialogue on this issue.
            C As we grow and our three aims of Advocacy, Research and Policy develop, let us know how you or your center can be involved.  We recognize you are the experts in your area and we want to hear from you as we coordinate national solutions and policies.</p>
