.lead {
	font-weight: 400;
	font-size: 23px;
	color: #1abc9c;
}
.author-date {
	font-weight: 300;
	font-size: 12px;
	color: grey;
}

.new {
	font-size: 25px;
	font-weight: 700;
	margin-top: 120px;
	color: #1abc9c;
	float:right;
	padding-right: 95%;
}

img {
	display: block;
    margin: 0 auto;
}

.readmore {
	color: grey;
	float: left;
}

.delete {
	float: right;
	margin-right: 15px;
	margin-left: 5px;
}

.edit {
	float: right;
	margin-left: 5px;
}

.news-content {
	text-indent: 40px;
	padding-left: 50px;
	padding-right: 50px;
	hyphens: auto;
}

#updateContent {
	margin-top:200px;
}

a {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

a:hover {
	color: #1abc9c;
}